# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
import os 
import scipy 
import scipy.stats as ss

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [4]:
# Your code here:
coc = pd.read_csv("employees_advanced.csv")
#From City Of Chicago (coc)

Examine the `salaries` dataset using the `head` function below.

In [6]:
# Your code here:

coc.head()

,Unnamed: 0,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
# Your code here:

coc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 9 columns):
Unnamed: 0           33183 non-null int64
Name                 33183 non-null object
Job Titles           33183 non-null object
Department           33183 non-null object
Full or Part-Time    33183 non-null object
Salary or Hourly     33183 non-null object
Typical Hours        8022 non-null float64
Annual Salary        25161 non-null float64
Hourly Rate          8022 non-null float64
dtypes: float64(3), int64(1), object(5)
memory usage: 2.3+ MB

In [11]:
coc.isna().sum()

Unnamed: 0               0
Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [13]:
# Your code here:
coc["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [16]:
# Your code here:

coc["Department"].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [25]:
# Your code here:

hourly_df = coc[(coc["Salary or Hourly"] == "Hourly")]["Hourly Rate"]

ss.ttest_1samp(hourly_df, 30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [29]:
hourly_average_salary = coc[(coc["Salary or Hourly"] == "Hourly")]["Hourly Rate"].mean()
hourly_average_salary

32.78855771628128

Hypothesis testing

H0. Salary is 30$/hour
H1. Salary is different from 30$/hour

alpha=0.05

Since p<alpha, we reject the H0. We are confident to say that the m%ean hourly salary is signifficantly different from 30$/hour.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [43]:
police_salary_avg = coc[(coc["Department"] == "POLICE")]["Annual Salary"].mean()
police_salary_avg

86486.41450313339

### Hypothesis contrast

HO. Police mean annual salary of this year is lower or equal to last year's salary, being this last one 86K

H1. Police mean annual salary of this year is greater than 86K

In [56]:
# Your code here:

police_salary_df = coc[(coc["Department"] == "POLICE")]["Annual Salary"]


result_ttest = ss.ttest_1samp(police_salary_df, 86000, nan_policy="omit")

mu = "86000K"
alpha = 0.05
print(result_ttest)

if (result_ttest[0] > 0) & (result_ttest[1]/2 < alpha):
    print (f"\nWe have evidence to reject the null hypothesis, mean is greater than {mu}")
else:
    print ("we can't reject the null hypothesis")

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.00206034035510054)

We have evidence to reject the null hypothesis, mean is greater than 86000K

Using the `crosstab` function, find the department that has the most hourly workers.

In [86]:
# Your code here:

dep_hourly = pd.crosstab(index=coc.Department, columns=coc["Salary or Hourly"]).sort_values(by="Hourly", ascending=False)

print(f"The department with the greater number of employees who earn their salary hourly is {dep_hourly.index.values[0]}")

The department with the greater number of employees who earn their salary hourly is STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

### Hypothesis contrast

HO. Streets & sanitary personnel's hourly salary is greater or equal than 35$/hour

H1. Streets & sanitary personnel's hourly salary is lower than 35$/hour

In [92]:
# Your code here:

hourly_intensive_salary_df = coc[(coc["Department"] == "STREETS & SAN")]["Typical Hours"]

result_ttest = ss.ttest_1samp(hourly_intensive_salary_df, 35, nan_policy="omit")

mu = "35$/h"
alpha = 0.05
print(result_ttest)

if (result_ttest[0] > 0) & (result_ttest[1]/2 < alpha):
    print (f"\nWe have evidence to reject the null hypothesis, mean is lower than {mu}")
else:
    print ("we can't reject the null hypothesis")

Ttest_1sampResult(statistic=10.507580902364047, pvalue=3.965023591630683e-25)

We have evidence to reject the null hypothesis, mean is lower than 35$/h

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [96]:
# Your code here:

hourly_workers = coc[(coc["Salary or Hourly"] == "Hourly")]["Hourly Rate"]

average = np.mean(hourly_workers)
size = len(hourly_workers)
dof = size-1
std = np.std(hourly_workers)
quasi_std = std*(size/dof)**0.5


ss.t.interval(0.95, dof, loc=average, scale=(quasi_std)/size**0.5)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [97]:
# Your code here:

police_salary = coc[(coc["Department"] == "POLICE")]["Annual Salary"]

average = np.mean(police_salary)
size = len(police_salary)
dof = size-1
std = np.std(police_salary)
quasi_std = std*(size/dof)**0.5


ss.t.interval(0.95, dof, loc=average, scale=(quasi_std)/size**0.5)

(86177.1716779239, 86795.65732834287)